@page "/prediction"
@rendermode InteractiveServer

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="pt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard" class="text-decoration-none">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Prediction</li>
        </ol>
    </nav>
</main>